# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# MLOps & Tracking
wandb/
artifacts/
.env

# Data & Models
# Ignoramos todo el contenido de data y models, excepto los punteros DVC
data/*
!data/*.dvc
models/*
!models/.gitkeep

# OS
.DS_Store