
# Git
.git
.gitignore

# Python temporales
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv
venv/
env/

# Datos y Modelos locales (ya se bajan de W&B o Kaggle en el contenedor)
data/
models/*.pth
artifacts/

# Google Drive / Colab (específico de la estructura actual)
.ipynb_checkpoints/
*.ipynb

# Variables de entorno y secretos
.env
.wandb
wandb/
